@font-face {
    font-family: Fiend;
    src: url(../img/fonte/Foul\ Fiend.ttf);
  }

body{
    background-image: url(../img/fundoOriginal.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

.menu{
    display: grid;
    grid-template-rows: repeat(10, 100px);
    
}

.tituloPrincipal{
    font-family: 'Fiend' ;
    font-size: 90px;
    text-align: center;
    grid-row-start: 2;
   
}

#btnMenu{
    width: 170px;
    height: 80px;
    cursor:pointer;
    border-radius: 5px;
    font-family: 'Fiend';
    align-self: center;
    text-align: center;
    color: white;
    background-color: black;
    box-shadow: 1px 1px 0.5px 1px white;
    border: 0;
    transition: background 0.5s;
}

#btnMenu:hover{
    color: black;
    background-color: white;
    box-shadow: 1px 1px 0.5px 1px black;
    }

.botoes{
    grid-row-start: 7;
    align-items: center;
    text-align: center;
}

.botoes2{
    grid-row-start: 8;
    align-items: center;
    text-align: center;
}

