body {
    margin: 0;
    overflow: hidden;
    background-image: url(../img/fundo3.jpg);
    background-repeat: no-repeat;
    display: flex;
    background-size: cover;
    justify-content: center;
  }
  
  .personagem {
    width: 120px;
    height: 120px;
    position: absolute;
    bottom: 25px;
    left: 100px;
  }

  .inimigo{
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 45px;
    right: 150px;
  }

  .tiro{
    width: 10px;
    height: 10px;
    border-radius: 30px;
    background-color: orange;
    position: absolute;
  }
  
  .vidas {
    position: absolute;
    top: 60px;
    right: 60px;
    font-family:'Fiend';
    color: white;
    font-size: 30px;
  }


