@font-face {
  font-family: Fiend;
  src: url(../foul_fiend/Foul\ Fiend.ttf);
}

body {
    margin: 0;
    overflow: hidden;
    background-image: url(../img/fundo3.jpg);
    background-repeat: no-repeat;
    display: flex;
    background-size: cover;
    justify-content: center;
  }
  
  .personagem {
    width: 120px;
    height: 120px;
    position: absolute;
  }


img{
  width: 110px;
  height: 115px;
 
}

.tiro{
  width: 25px;
  height: 25px;
  background-color: yellow;
  position: absolute;
}

.vidas {
  position: absolute;
  top: 60px;
  right: 60px;
  font-family:'Fiend';
  color: white;
  font-size: 30px;
}
