body {
    margin: 0;
    overflow: hidden;
    background-image: url(../img/fundo3.jpg);
    background-repeat: no-repeat;
    display: flex;
    background-size: cover;
    justify-content: center;
  }
  
  .personagem {
    width: 120px;
    height: 120px;
    position: absolute;
    background-color: antiquewhite;

  }


img{
  width: 110px;
  height: 115px;
 
}
